
/**************************************************************

	Image Menu
	v 2.2

**************************************************************/

body {
	font-family: Arial, Helvetica, sans-serif;
}

.Estilo1 {color: #FFFFFF}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFCC;
}
a:active {
	color: #FFFFFF;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

#hotel {
	height: 35px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

#imageMenu {
	position: relative;
	width: 400px;
	height: 200px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:98px;
	height: 200px;
}

#imageMenu ul li.almendros a {
	background: url(images/almendros_hotel.jpg) repeat scroll 0%;
}

#imageMenu ul li.villa a {
	background: url(images/valanza_hotel.jpg) repeat scroll 0%;
}

#imageMenu ul li.altavista a {
	background: url(images/altavista_hotel.jpg) repeat scroll 0%;
}

#imageMenu ul li.elgringo a {
	background: url(images/elgringo_hostel.jpg) repeat scroll 0%;
}

#imageMenu ul li.bermuda a {
	background: url(images/bermuda_hotel.jpg) repeat scroll 0%;
}

#imageMenu ul li.suchitlan a {
	background: url(images/suchitlan_hotel.jpg) repeat scroll 0%;
}

#imageMenu ul li.tejado a {
	background: url(images/tejado_hotel.jpg) repeat scroll 0%;
}


#imageMenu ul li.laspuertas a {
	background: url(images/laspuertas_hotel.jpg) repeat scroll 0%;
	width: 310px;
}

.clear {
	clear: both;
}

/*************************************************************/

