body { background: #FFFFFF;
	
}

.Estilo1 {color: #a6c452}
a:link {
	color: #a6c452;
}
a:visited {
	color: #a6c452;
}
a:active {
	color: #a6c452;
}


.hotel {
	height: 35px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}